<li class="external-link"><a href="https://ucyediyedi.me/blog/about/"><i class="fa fa-question-circle"></i> Hakkımda</li>
<li class="external-link"><a href="https://github.com/ugurcan377"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://twitter.com/ugurcan377"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a target="_blank" href="mailto:ugurcan@ucyediyedi.me"><i class="fa fa-envelope"></i> Iletişim</a></li>
<li class="external-link"><i class="fa fa-lock"></i> GPG: 7427E4E2</a></li>
<li class="external-link"><a href="http://yazlimciyim.blogspot.com"><i class="fa fa-fast-backward"></i> Önceki Bölümde</li>
